### String Functions : split()  ###

In [1]:
str="My name is parikh"
li=str.split()
print(li)

['My', 'name', 'is', 'parikh']

In [3]:
li1=str.split(" ",1)
print(li1)

['My', 'name is parikh']

In [4]:
li2=str.split(" ",2)
print(li2)

['My', 'name', 'is parikh']

### Replace() ###

In [7]:
str="My name is parikh "
str1=str.replace("parikh","Rohan")

In [8]:
print(str)
print(str1)

My name is parikh
My name is Rohan

In [9]:
str="My name is Parikh Parikh Parikh"
str1=str.replace("Parikh","Rohan")
print(str1)

My name is Rohan Rohan Rohan

In [10]:
str2=str.replace("Parikh","Rohan",1)

In [11]:
print(str2)

My name is Rohan Parikh Parikh

### find() : Substring index  ###

In [12]:
str="My Name is Parikh"
index=str.find("Na")
print(index)

3

In [13]:
index1=str.find("Nae")
print(index1)

-1

In [14]:
index=str.find("Par")
print(index)

11

In [16]:
index=str.find("Par",16,21)
print(index)

-1

In [17]:
index=str.find("Par",16,22)
print(index)

-1

### Lower() and upper() ###

In [18]:
str="My name is Parikh"
str1=str.upper()
print(str1)

MY NAME IS PARIKH

In [19]:
str2=str.lower()
print(str2)

my name is parikh

### starts with ###

In [21]:
str="My name is Parikh"
ans=str.startswith("My na")
print(ans)

True

In [22]:
str="My name is Parikh"
ans=str.startswith("My nae")
print(ans)

False

In [24]:
ans=str.startswith("Pa",11,25)
print(ans)

True

### Replace Character ###

In [25]:
str=input()
for i in range(0,len(str)):
    if str[i]=='a':
        str=str.replace(str[i],'e')
print(str)

abcda
ebcde

### Count Vowel Constants Digits ###

In [27]:
def countinStrings(str):
    v,c,d,s=0,0,0,0
    for char in str:
        if((char>='a' and char<='z') or (char>='A' and char<='Z')):
            char=char.lower()
            if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
                v+=1
            else:
                c+=1
        elif(char>='0' and char<='9'):
            d+=1
        else:
            s+=1
    return v,c,d,s
str=input()
v,c,d,s=countinStrings(str)
print(v,c,d,s)

SASDGHttfdvagdb&&&&&7777234%
2 13 7 6